### Data Wrangling

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv ('./data/tweets_not_cleaned.csv', encoding='unicode_escape')
df.head()

,Tweets,Retweets,Likes,Date,Cleaned_Tweets
0,@PeterSchiff ð¤£ thanks,209,7021,2022-10-27 16:17:39,thanks
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25,Absolutely
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00,Dear Twitter Advertisers
3,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32,Meeting a lot of cool people at Twitter today!
4,Entering Twitter HQ â let that sink in! http...,145520,1043592,2022-10-26 18:45:58,Entering Twitter HQ â let that sink in!

In [13]:
df['Date'] = df['Date'].str.extract('(\d{4}-\d{2}-\d{2})', expand=True)
df['Date'] = pd.to_datetime(df["Date"])
df.sort_values(by='Date', inplace=True)
df = df.set_index('Date')

In [14]:
df["day"] = pd.DatetimeIndex(df.index).day
df["month"] = pd.DatetimeIndex(df.index).month
df["year"] = pd.DatetimeIndex(df.index).year
df = df.drop(['Tweets'], axis =1)

In [15]:
new_order= ['day', 'month', 'year', 'Cleaned_Tweets', 'Retweets', 'Likes']
df = df[new_order]
df.reset_index(drop=True, inplace=True)
df.head()

,day,month,year,Cleaned_Tweets,Retweets,Likes
0,27,1,2022,CB radios are free from govt/media control,11302,113429
1,27,1,2022,And in the darkness bind them,33028,195919
2,27,1,2022,"Honestly, I would let the border regions vote....",281,4627
3,27,1,2022,Vote them out,7712,68748
4,27,1,2022,"If you scare people enough, they will demand r...",119804,543466

In [16]:
import re

In [17]:
df['Cleaned_Tweets'] = df['Cleaned_Tweets'].str.replace('[^\w\s#@/:%.,_-]', '', regex=True, flags=re.UNICODE)

In [18]:
df.head()

,day,month,year,Cleaned_Tweets,Retweets,Likes
0,27,1,2022,CB radios are free from govt/media control,11302,113429
1,27,1,2022,And in the darkness bind them,33028,195919
2,27,1,2022,"Honestly, I would let the border regions vote....",281,4627
3,27,1,2022,Vote them out,7712,68748
4,27,1,2022,"If you scare people enough, they will demand r...",119804,543466

In [19]:
df.to_csv("./data/elon_tweets.csv", index=False)